.footer {
   padding: 10px 0px 0px 0px;
   background-color: #333;
   height: 250px;
   color:#fff;
   font-family: ClearSansMedium;   
}
.footer-content > p {
   line-height: 20px;
   font-family: $fontFamily;
   letter-spacing: 0.1em;
   font-weight: 400;
}