.footer {
   padding: 10px 0px 0px 0px;
   background-color: #333;
   min-height: 250px;
   color:#fff;
   font-family: ClearSansMedium;
   
   }
   
      
.footer-content > p {
   line-height: 20px;
   font-family: $fontFamily;
   letter-spacing: 0.1em;
   font-weight: 400;
   font-size: 12px;   
}

@media (max-width:1200px) {
   .footer-content > p {
      font-size: calc(12px + (12 - 8) * ((100vw - 320px) / (1200 - 320)));
   }
}